#root, html, body {
    height: 100 vh /* full height of screen*/
}

body {
    margin: 0;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}